.idea
.vscode
.svn
.history
.DS_Store

*.swp
build_output
node_modules
mail_node_basic
border_components
UI_tool/**/yarn.lock
public_dev
public_temp
config/clientlinker_freego.js
config/mail.addon_mgr.conf.js
server/data/*.conf
public/js/vue_dev_webpack/**
vue_dev/node_modules
test/browser/tmp
test/browser/_coverage
test/browser/_reports
test/node/.nyc_output
test/node/coverage
test/node/mochawesome

server/data/ww*njlogic.conf
server/controller_ts
server/mock/mock.config.js*
server/mock/local/*.js*
server/mock/local/*/*.js*

npm-debug.log
yarn-error.log
stylelint-report.json
eslint-report.json
.yarncache
.buildcache
changed.txt
changedMaster.txt

/package-lock.json
vue_dev/webpack/package-lock.json
vue_dev/webpack/**/package-lock.json
vue_dev/webpack/**/yarn.lock
!vue_dev/webpack/yarn.lock

public/js/microapp_dist
offlineDeployConfig.js
deployConfig.js
server/mock/local

cache
